/*src/styles/menu/AddProduct.module.css*/

.container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-bottom: 5rem; 
}

.label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: block;
}

.input {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}

.inputDescription {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  min-height: 80px;
  resize: vertical;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.button {
  background-color: #3366FF;
  color: white;
  padding: 0.9rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.2s ease;
}

.button:disabled {
  background-color: #aac4ff;
  cursor: not-allowed;
}

.dangerButton {
  background-color: #ff4d4f;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.confirmation {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ff4d4f;
  border-radius: 8px;
  background-color: #fff5f5;
  color: #b30000;
}

.backgroundAddButton {
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  width: 90%;
  z-index: 1000;
}


.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatarImg {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid #3b6ef6;
  background: #fff;
  object-fit: cover;
}

.addPhotoBtn {
  position: relative;
  top: -40px;
  left: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e0e0e0;
  border: none;
  font-size: 1.5rem;
  color: #3b6ef6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}
